body{
	background-image: url(imagens/fundo.png);
}

#imagemCapa{
	height: 388px;
	width: 600px;
}

.divCentral{
	margin-left: 300px;
	margin-right: 300px;
	width: 900px;
}

.divMenu{
	background: #c38673;
	width: 900px;
	padding-bottom: 15px;
	padding-top: 15px;
}

.fonteMenu{
	font-family: "Monaco", Monospace;
	color: #fee6cc;
}