body{
	background-image: url(imagens/fundo.png);
}

#imagemCapa{
	height: 388px;
	width: 600px;
}

#divCentral{
	margin-left: 25%;
	margin-right: 25%;
	width: 900px;
}

#divMenu{
	background: #c5c5b2;
	width: 870px;
	padding: 15px;
}

a{
	font-family: "Monaco", Monospace;
	color: #4b566b;
	text-decoration: none;
	font-weight: bold;
}

#divPágina{
	padding: 10px;
	background-color: #e8e8d9;
	font-family: Arial, Helvetica, sans-serif;
}

.imgPágina{
	size: 15%;
	padding: 10px;
	background-color: #c5c5b2;
}

#rodape{
	text-align: center;
}